* {
  margin: 0;
  box-sizing: border-box;
}
.hero-section {
  max-height: 500px;
}
.about-section {
  background: grey;
  height: 500px;
}
.services-section {
  background: rgb(80, 79, 79);
  height: 500px;
}
